* {
  margin: 0;
  box-sizing: border-box;
}
h1,
.btn,
.nav-link,
.text-green {
  color: green;
}
body {
  background-color: rgb(131, 133, 138);
}
.main-container {
  margin-top: 5px;
  padding: 10px;
  width: 70vw;
  background-color: rgb(233, 233, 233);
}
h1 {
  margin-top: 20px;
  text-align: center;
}
ol {
  margin-top: 20px;
}
img {
  width: 100%;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand {
  margin-left: 20px;
}
